*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #e65b00;
}
.navbar{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
}
.navbar img{
    height: 50px;

}
.navbar ul{
    display: flex;
    list-style: none;
}

.navbar ul li{
    margin: 5px 10px;
    
}

.navbar ul li a{
    text-decoration: none;
    color:black;
    font-size: 18px;
}
.navbar ul li a:hover{
    color: #e65b00;
}
#main{
    padding: 10px;
}
#main h2{
    margin-left: 30px;
    color: bisque;
}
.main-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.user-item{
    margin-top: 5px;
    width: 320px;
}
.item-top{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-bottom: 10px;
}
.item-top span{
    margin-left: 5px;
    color: black;
    padding: 2px 4px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background-color: bisque;
    width: 40px;
    font-size: 12px;

}
.item-top i{
    margin-right: 15px;
    color: black;
}
.box{
    background-color: bisque;
    padding: 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    height: 150px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    margin: 10px;
  
     cursor: pointer;
}
.box:hover{
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    box-shadow: 5px 5px 20px rgba(0,0,0,0.234);
}
.box p{
    margin: 10px 0;
    font-size: 14px;
}
.tag{
    padding: 5px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-weight: bold;
    line-height: 50px;
    background-color: rgba(235,41,41,0.244);
    color: #e65b00;
}
.dates{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    color: #303030ae;
}
#box-user{
    width: 20px;
}
.comment{
    display: flex;
    align-items: center;
}
.dates i {
    margin-right: 5px;
}
.date{
    display: flex;
}
.danger{
     background-color: rgba(50, 207, 36, 0.244);
     color: #e65b00;
}
.success{
    background-color: aquamarine;
    color: black;
}
.warning{
    background-color: skyblue;
    color: white;
}
@media screen and (max-width: 350px){
    .navbar .user{
        height: 30px;
    }
    .navbar ul li a{
        font-size: 12px;
    }
}